html, body{
    font-size: 16px;
    /* font-family: 'Buyan Light'; */
    background-color: #fbf8f1;
}
main {
  padding-left: 3rem;
}
@font-face {
  font-family: 'Buyan Light';
  src: url(/styles/yubuyan-light.ttf);
}
@font-face {
  font-family: 'Buyan Bold';
  src: url(/styles/yubuyan-bold.ttf);
}
* {
    margin: 0 rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}
a{
    text-decoration: none;
}

/* Dark and */
@media (prefers-color-scheme: dark){
    .theme-a.adaptive{
      background: #753;
      color:#dcb;
      outline:5px dashed #000;
      
    }
    :root{
      --color-body:var(var(--color-darkwhite))
    }
  }
/* ******Нийт**********/
:root {
    --color-petty: #f4202e;
    --color-grey:#aaaaaa;
    --color-black:#333333;
    --color-white: #ffffff;
    --color-darkwhite: #dddddd;
    --shadow-1: 0rem 0.25rem 0.25rem var(--color-grey);
    --product-border: 2px solid var(--color-petty);
    --input-border:1px solid var(--color-black);
    --default-border-radius: 1rem;
    --border-radius: 0.5rem;
    --color-body: var(--color-white);
}

  /* Толгой хэсэг */
  header{
    background-color: var(--color-petty);
    display:inline-flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0.18rem 8.5rem;
    color:white;
    font-family: 'Buyan Light';
  }
  
  header input[type="search"] {
    padding: 1rem;
    border-radius: var(--default-border-radius);
    
    border: none;
    width: 37.5rem;
    height: 1.875rem;
    margin-left: 4.375rem;
    margin-right:31.25rem;
    font-family: 'Buyan Light';

  }
  header img {
    cursor: pointer;
  }
  header nav button {
    cursor: pointer;
  }
  header button {
    background: none;
    border: none;
    color: #fff;
  }
  nav{
    padding:0rem 13.75rem;
    color:var(--color-white);
    display: inline-flex;
    font-family: 'Buyan Light';
  }
  nav ul {
    list-style: none;
    display: inline-flex;
    gap: 2rem;
  }
  nav ul li a {
    text-decoration: none;
    color:black;
    font-size: 1rem;
  }
  nav ul li a:hover, a:active {
    text-decoration: none;
    color:var(--color-petty)
  }
  footer{
    background-color: var(--color-petty);
    display:flex;
    justify-content:flex-start;
    align-items: center;
    padding: 3px 8.5rem 0px 8.5rem;
    color:white;
    margin-top: 2rem;
    font-family: 'Buyan Light';
  }
  footer ul {
    list-style: none;
  }
  footer a{
    color:white;
  }
  footer aside{
    margin-left: 31.25rem;
    margin-right: 21.875rem;
  }
  .end{
    padding:0px 8.5rem;
    color: var(--color-petty);
  }

#logo{
    height: 3.75rem;
    width: auto;
    color:var(--color-white);
  }
/* aside{
    border:1px solid var(--color-petty);
    box-shadow:var(--shadow-1);
    width: 360px;
    height: 280px;
  }*/

.paw1{
    background-color: var(--color-petty);
    border-radius: var(--default-border-radius);
    padding:0.3rem;
    border:none;
}
/**********************Products******************************/
.types {
    margin: 1.25rem auto;
    padding: 0rem 8.5rem;
}

.type {
    display: inline-block;
    width: 30%;
    margin: 0.8rem;
    text-align: center;
    border: var(--product-border);
    border-radius: var(--default-border-radius);
    box-shadow: var(--shadow-1);
    padding: 0.5rem;
}

.type a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.type p {
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
    margin: 0.625rem 0rem;
}

.type img {
    height: 14.375rem;
    width: auto;
}

.zereg {
  display: flex;
  align-items: center; /* Хэвтээ тэнхлэг дээр агуулгыг төвд нь байрлуулах */
  justify-content:space-between; /* Элементийн байрлалыг зүүнээс эхлүүлэх (хэрэв шаардлагатай бол) */
  margin-top: 2rem;
}

.zereg h3 {
  margin: 0rem; /* Хэрэв шаардлагатай бол h3-ийн margin арилгах */
}

.zereg a {
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  /* Агуулгыг товч дотор нь голлуулж харуулах */
}

/*******************index**************************/

.lists h2{
  text-align: center;
  font-size: 1.5rem;

}

.nuur{
  text-align: center;
}

.nuur img{
  width: 93.75rem;
  height: auto;
  border-radius: var(--default-border-radius);
}
.product {
    display: inline-block;
    width: 11%;
    text-align: center;
    border: 1px solid #f4202e;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-1);
    padding: 1rem;
    margin: 1rem;
    transition: transform 0.2s ease-in-out;
}

.product:hover img{
    transform: scale(1.05);
}

/* Бүтээгдэхүүний зураг тохиргоо */
.product img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    margin-bottom: 0.5rem;
}

.product h3 {
    font-size: 1rem;
    color: #333;
}

.product h3, .product a {
    margin-bottom: 0.5rem;
}

/********************OneProduct**************************/
.jagsaah {
    list-style-type: none;
    padding: 0rem;
    margin: 0rem 2.5rem 0rem 8.5rem;
}
.jagsaah li {
    margin-bottom: 0.625rem; 
}
  
.jagsaah li img {
    height: 9.375rem;
    width: 7.5rem;
    border-radius: var(--border-radius);
    border:var(--product-border);
    box-shadow: var(--shadow-1);
} 

.big{
    height: 34.375rem;
    width: 25.625rem;
    margin: 0rem 8rem;
    border-radius: var(--default-border-radius);
    border: var(--product-border);
    box-shadow: var(--shadow-1);
}

.container {
    display: flex;
    justify-content:flex-start; /* Элементийн хооронд зай үүсгэх */
    align-items: flex-start; /* Элементүүдийг дээд талаас зэрэгцүүлэх */
    padding-top: 3rem;
    padding-right: 8.5rem;
}

.some{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 8.5rem;
}


/* .some {
    position: relative;
    
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    
  } */
.songolt{
    border: none;
    
}

input[type="submit"]{
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--color-petty);
    color: var(--color-white);
    padding:0.5rem; 
    margin-left: 3rem;
    margin-top: 1rem;
}
/***************************Admins************************/
.egnee li{
  list-style: none;
  display:inline ;
  gap: 1rem;
}

.egnee li img {
  height: 9.375rem;
  width: 7.5rem;
  border-radius: var(--border-radius);
  border:var(--input-border);
  box-shadow: var(--shadow-1);
  margin-left: 1rem;
} 
.biggg{
  height: 34.375rem;
  width: 25.625rem;
  margin: 0rem 8rem;
  border-radius: var(--default-border-radius);
  border: var(--input-border);
  box-shadow: var(--shadow-1);
}
.look {
  display: flex;
  align-items:self-start; /* Хэвтээ тэнхлэг дээр агуулгыг төвд нь байрлуулах */
  justify-content:flex-start; /* Элементийн байрлалыг зүүнээс эхлүүлэх (хэрэв шаардлагатай бол) */
  margin: 2rem;
}

input, select{
  border-radius: 1rem;
  border: var(--input-border)
}



/****************Adoptions********************************************/
.seee {
  display: flex;
}

.filter {
  width:10%;
  height: auto;
  background-color: #ddd;
  padding: 0.3rem 0.6rem;
  margin: 2px 2rem 0.3rem 8.5rem;
  display: inline-block;
  border-radius: var(--border-radius);
}

.filter label {
  display: block;
  margin: 0.3rem 0rem;
}
.filter h3 {
  margin: 0.625rem 0rem;
  font-size: 0.8rem;
}

.result {
  width:90%;
  flex-grow: 1;
  padding: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: flex-start;
} 

.zar img{
    max-width: 6.25rem;
    height: 7.5rem;
    border-radius: var(--border-radius);
    margin-bottom: 0.5rem;
}

.zar{
  width: 12.5rem;
  height: 18.75rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
} 
.zar-info {
  padding: 0.625rem;
  text-align: center;
}
.zar-info h4 {
  margin-bottom: 0.3rem;
}

#navbar>li>a:hover{
  color:var(--color-white);
}

/* Pagination styles inside information*/

.pagination {
  display: flex;
  list-style: none;
  padding: 0rem;
  justify-content: center;
  align-items: center;
}

.pagination li {
  margin: 0rem 0.3rem;
}

.pagination a {
  display: block;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: #333;
  border-radius: 0.25rem;
}
.pagination a:hover {
  background-color: #eee;
}
.pagination #active a {
  background-color: #f4202e;
  color: white;
  border-color: #f4202e;
}
.pagination #disabled a {
  color: #ccc;
  pointer-events: none;
}

/* Shopping cart */
.bag-products {
  justify-content: space-evenly;
}
.bag-products>section {
  border : 0.125rem solid black;
  border-radius: 2%;
}
.bag-products>section>img {
  height: 10rem;
  width: 10rem;
}
#product-price {
  color: #F36161; 
  text-decoration-line: line-through;
}
#product-name {
  color: #000000; 
  font-weight: 600; 
}
#product-type {
  color: #000000;
  font-weight: 500; 
}
#close {
  position: absolute; 
  top: 5%; 
  right: 5%; 
  background: transparent; 
  border: none; 
  cursor: pointer; 
  padding: 0; 
  z-index: 1000; 
}
#pay-button{
  background-color: #FFC8C8;
  border-radius: 0.5rem;
  font-family: 'Buyan Light';
}
/* Information */

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

#article-card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  max-width: 50rem; 
  width: 100%;
  border-radius: 0.5rem;
}

.article-date {
  font-size: 0.875rem; 
  color: #555;
  min-width: 6.25rem; 
  padding-right: 5rem;
}

.article-content {
  flex: 1;
}

.article-title {
  font-size: 1.125rem; 
  font-weight: bold;
  margin: 0;
  color: #000;
  cursor: pointer; 
}

.article-description {
  margin: 0.5rem 0 0 0;
  font-size: 0.875rem;
  color: #555;
}

.article-author {
  font-size: 0.875rem;
  color: #777;
  margin-top: 0.5rem;
  display: inline-block;
}

.article-image {
  margin-left: auto;
  cursor: pointer; 
}

.article-image img {
  width: 12.5rem; 
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.information img{
  display: flex;
  justify-self: center;
  width:50% ;
  height: 40%;
}
#left, #right {
  display: inline-block; 
  vertical-align: top; 
  width: 45%; 
  box-sizing: border-box; 
}




/* test */
/* host өөрийг нь агуулж байгаа */
:host {
  display:block
}


